@keyframes pop {
    0% { transform: scale(0); opacity: 0; }
    50% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(1); }
  }
  
  .screw {
    animation: pop 2s ease-in-out;
  }
  
  .jumpingButton{
    animation: jump 1s ease-in-out infinite;
  }

    @keyframes jump {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(0); }
    }