.glass {
    opacity: 0;
    animation: fade 1s ease-in-out forwards;
  }

  #banner-bg{
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1540%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1541%26quot%3b)'%3e%3c/rect%3e%3cpath d='M587.562896094473-49.69651136659646L573.47850459789 84.30752244784676 707.4825384123333 98.39191394442966 721.5669299089162-35.61211987001356z' fill='rgba(255%2c 255%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M855.83 191.38 a114.94 114.94 0 1 0 229.88 0 a114.94 114.94 0 1 0 -229.88 0z' fill='rgba(255%2c 255%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M545.39 357.84 a170.75 170.75 0 1 0 341.5 0 a170.75 170.75 0 1 0 -341.5 0z' fill='rgba(255%2c 255%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M149.258%2c281.831C175.994%2c281.506%2c204.717%2c276.241%2c218.444%2c253.295C232.449%2c229.883%2c225.076%2c201.074%2c211.839%2c177.22C198.103%2c152.467%2c177.564%2c128.23%2c149.258%2c128.616C121.38%2c128.996%2c103.39%2c154.675%2c89.567%2c178.888C75.903%2c202.821%2c63.275%2c231.171%2c77.099%2c255.012C90.895%2c278.805%2c121.757%2c282.165%2c149.258%2c281.831' fill='rgba(255%2c 255%2c 255%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1362.7880582642883 87.02231455041475L1326.037710462331 177.98261725351577 1480.8533384179611 187.62798760490122z' fill='rgba(255%2c 255%2c 255%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1032.87%2c426.899C1072.831%2c427.473%2c1111.908%2c405.439%2c1128.681%2c369.164C1143.608%2c336.882%2c1124.395%2c301.938%2c1104.18%2c272.676C1087.354%2c248.319%2c1062.43%2c232.078%2c1032.87%2c230.471C999.881%2c228.677%2c965.125%2c236.671%2c946.731%2c264.115C926.346%2c294.529%2c924.588%2c334.115%2c941.713%2c366.477C959.988%2c401.012%2c993.802%2c426.337%2c1032.87%2c426.899' fill='rgba(255%2c 255%2c 255%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1540'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1541'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(39%2c 231%2c 198%2c 1)' offset='0.6'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    
  }
  

  


  @keyframes fade {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.blinker{
    animation: blink 0.7s ease-in-out forwards infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}
  

